/*  
    основной цвет #212121 
    дополнительныe цвета:
        p - #757575 
        h1 - #FFFFFF 
        hero bg color - #2F303A
    акцент #2196F3 
*/

:root {
    --primary-text-color: #212121;
    --p-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
}

body {
    font-family: 'Roboto', Raleway, sans-serif;
    color: var(--primary-text-color);
}

/* ------- ЛОГОТИП -------- */
.logo {
    color: var(--primary-text-color);
    /* position: absolute; */
    width: 145px;
    height: 31px;
    /* left: 215px;
    top: 24px; */
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.logo span {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
}

/* -------- СПИСКИ -------- */
.list {
    list-style: none;
    /* color: var(--primary-text-color); */
}

.list .item-title {
    /* color: var(--primary-text-color); */
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.list .item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}


/* ССЫЛКИ */
.link {
    text-decoration: none;
}

.site-nav {
    /* position: absolute; */
    /* width: 77px;
    height: 16px; */
    /* left: 552px;
    top: 32px; */
    /* font-family: Roboto; */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.auth-nav {
    /* position: absolute; */
    /* width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px; */
    /* font-family: Roboto;
    font-style: normal; */
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.site-nav .link,
.auth-nav .link {
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.hero {
    /* position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A; */
}

.hero-title {
    /* position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px; */
    /* font-family: Roboto;
    font-style: normal; */
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    /* text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; */

    /* color: var(--white-text-color); */
}

.button.primary {
    /* position: absolute; */
    width: 200px;
    height: 50px;
    color: var(--white-text-color);
    background-color: var(--accent-color);
    /* left: 700px; */
    /* top: 430px; */
}

.section-title {
    /* color: var(--primary-text-color); */
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

